@import "tailwindcss";

header {
  border: 0px solid black;
  height: 60px;
  background-color: white;
}

@media screen and (max-width: 1700px) {
  #content-chat{
    height: 605px;
  }
  #sidebar{
    height: 640px;
  }
}